.mainContainer {
  margin: 0;
  padding: 0;
  position: relative;
}

.bodySection {
  min-height: 100vh;
  position: relative;
  z-index: 1000;
}

.blogPostContainer {
  min-height: 100vh;
  color: #fff;
  background: var(--backgroundColor);
  margin: 0;
}

.blogPostLoadMore {
  display: flex;
  justify-content: center;
  padding: 32px;
  
}