@tailwind base;
@tailwind components;
@tailwind utilities;

/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@300&display=swap');

:root {
  box-sizing: border-box;

  --linkColor: #2020dd;
  --boxShadowColor: rgb(127,157,181);
  --backgroundColor: rgb(48,74,96,1);
  --linearBackground: linear-gradient(150deg, rgb(48,74,96,1) 0%, rgb(127,157,181) 100%);
  --linearBackgroundReversed: linear-gradient(200deg, rgb(127,157,181) 0%, rgb(48,74,96,1) 100%);
  --linearBackgroundCenter: linear-gradient(200deg, rgb(48,74,96,1) 0%, rgb(127,157,181) 50%, rgb(48,74,96,1) 100%); 
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  background: var(--backgroundColor);
}

a {
  color: inherit;
  text-decoration: none;
}

