@tailwind base;
@tailwind components;
@tailwind utilities;

/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@300&display=swap');

:root {
  box-sizing: border-box;
  --backgroundColor: rgb(48,74,96,1);
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
}

a {
  color: inherit;
  text-decoration: none;
}

