.homeContainer {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 100px;
}

.headerContainer {
  width: 100%;
  height: 100%;
  margin: 0;
  position: relative;
  perspective: 200px;
}

.headerBackground {
  background-image: url('/images/header-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  z-index: -1;
}

.headerHero {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  z-index: 1;
  transform: translateZ(-100px) scale(1.5);
}

.headerProfileSection {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  gap: 16px;
  transform: translateZ(-50px) scale(1.5);
}


.headerIcons {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  z-index: 0;
}

.headerIcons > img {
  height: 64px;
  position: absolute;
  opacity: 0.5;
  width: auto;
}

/* react */
.headerIcons img:nth-child(1) {
  top: 10%;
  left: 20%;
  transform: translatey(0px);
  animation: iconFloating1 8s ease-in-out infinite;
}
/* grpahql */
.headerIcons img:nth-child(2) {
  top: 30%;
  left: 25%;
  transform: translatey(-15px);
  animation: iconFloating2 15s ease-in-out infinite;
}
/* android */
.headerIcons img:nth-child(3) {
  top: 50%;
  left: 18%;
  transform: translatey(-10px);
  animation: iconFloating3 10s ease-in-out infinite;
}
/* .net */
.headerIcons img:nth-child(4) {
  top: 20%;
  left: 45%;
  transform: translatey(10px);
  animation: iconFloating4 15s ease-in-out infinite;
}
/* .blazore */
.headerIcons img:nth-child(5) {
  top: 12%;
  left: 70%;
  transform: translatey(0px);
  animation: iconFloating1 8s ease-in-out infinite;
}
/* .c# */
.headerIcons img:nth-child(6) {
  top: 40%;
  left: 72%;
  transform: translatey(-15px);
  animation: iconFloating2 15s ease-in-out infinite;
}
/* ts */
.headerIcons img:nth-child(7) {
  top: 60%;
  left: 65%;
  transform: translatey(-10px);
  animation: iconFloating3 10s ease-in-out infinite;
}
/* azure */
.headerIcons img:nth-child(8) {
  top: 70%;
  left: 30%;
  transform: translatey(-10px);
  animation: iconFloating3 8s ease-in-out infinite;
}
/* aws */
.headerIcons img:nth-child(9) {
  top: 70%;
  left: 80%;
  transform: translatey(-10px);
  animation: iconFloating2 15s ease-in-out infinite;
}
/* mongo */
.headerIcons img:nth-child(10) {
  top: 25%;
  left: 80%;
  transform: translatey(-10px);
  animation: iconFloating4 15s ease-in-out infinite;
}
/* swift */
.headerIcons img:nth-child(11) {
  top: 20%;
  left: 10%;
  transform: translatey(-10px);
  animation: iconFloating1 7s ease-in infinite;
}

.headerProfileImage {
  width: 160px;
  height: 160px;
  border: 1px solid #fff;
  border-radius: 50%;
  overflow: hidden;
}

.headerProfileTitle {
  font-size: 24px;
}

.headerProfileDescription {
  font-size: 20px;
}

.headerProfileImage > img {
  width: 160px;
  height: auto;
}

.profileDescription {
  list-style: none;
  display: none;
  min-height: 2rem;
}

.blogPosts {
  min-height: 100vh;
}

/* Animate Arrow Down */
.animateDownArrow {
  position: absolute;
  bottom: 60px;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100px;
  transform: translateZ(-10px) scale(1.1);
}

.animateDownArrow > div {
  position: absolute;
}

.animateDownArrow span {
  display: block;
  width: 24px;
  height: 24px;
  border-right: 5px solid #fff;
  border-bottom: 5px solid #fff;
  margin-bottom: -20px;
  transform: rotate(45deg);
  animation: animateArrowDown 2s infinite;
}

.animateDownArrow span:nth-child(2) {
  animation-delay: -0.2s;
}

.animateDownArrow span:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes animateArrowDown {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
      opacity: 1;
  }
  100% {
      opacity: 0;
      transform: rotate(45deg) translate(20px, 20px);
  }
}
/* End Animate Arrow Down */

/* Animate icon floating */
@keyframes iconFloating1 {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
@keyframes iconFloating2 {
  0% {
    transform: translatey(0px);
  }
  25% {
    transform: translatey(-10px);
  }
  50% {
    transform: translatey(-25px);
  }
  75% {
    transform: translatey(-10px);
  }
  100% {
    transform: translatey(0px);
  }
}
@keyframes iconFloating3 {
  0% {
    transform: translatey(0px);
  }
  25% {
    transform: translatey(-10px);
  }
  50% {
    transform: translatey(-30px);
  }
  75% {
    transform: translatey(-15px);
  }
  100% {
    transform: translatey(0px);
  }
}
@keyframes iconFloating4 {
  0% {
    transform: translatey(0px);
  }
  25% {
    transform: translatey(15px);
  }
  50% {
    transform: translatey(0px);
  }
  75% {
    transform: translatey(10px);
  }
  100% {
    transform: translatey(0px);
  }
}
/* End Animate icon floating */


/* Responsive */
@media only screen and (max-width: 720px) {
  .headerProfileImage {
    width: 120px;
    height: 120px;
  }

  .headerProfileImage, .headerProfileImage > img {
    width: 120px;
  }

  .headerIcons > img {
    height: 48px;
    width: auto;
  }
}