.homeContainer {
  margin: 0;
  padding: 0;
  position: relative;
}

.headerContainerFixed {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
}

.headerContainer {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.headerHero {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
}

.headerProfileSection {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}


.headerIcons {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  z-index: 1;
}

.headerIcon {
  background: url('/icons/logo-icons.png') no-repeat;
  background-size: cover;
  display: block;
  width: 48px;
  height: 48px;
  position: absolute;
  opacity: 0.5;
}

.headerIcon.iconAndroid {
  background-position: 0px 0px;
  top: 50%;
  left: 10%;
  transform: translatey(-10px);
  animation: iconFloating3 10s ease-in-out infinite;
}

.headerIcon.iconAws {
  background-position: -48px 0px;
  top: 70%;
  left: 85%;
  transform: translatey(-10px);
  animation: iconFloating2 15s ease-in-out infinite;
}

.headerIcon.iconAzure {
  background-position: -96px 0px;
  top: 70%;
  left: 20%;
  transform: translatey(-10px);
  animation: iconFloating3 8s ease-in-out infinite;
}

.headerIcon.iconBlazor {
  background-position: -144px 0px;
  top: 12%;
  left: 80%;
  transform: translatey(10px);
  animation: iconFloating1 8s ease-in-out infinite;
}

.headerIcon.iconCSharp {
  background-position: -192px 0px;
  top: 40%;
  left: 80%;
  transform: translatey(-15px);
  animation: iconFloating2 15s ease-in-out infinite;
}

.headerIcon.iconGraphql {
  background-position: -240px 0px;
  top: 10%;
  left: 35%;
  transform: translatey(-15px);
  animation: iconFloating4 15s ease-in-out infinite;
}

.headerIcon.iconMongo {
  background-position: -288px 0px;
  top: 65%;
  left: 5%;
  transform: translatey(-15px);
  animation: iconFloating2 15s ease-in-out infinite;
}

.headerIcon.iconDotNet {
  background-position: -336px 0px;
  top: 10%;
  left: 10%;
  transform: translatey(0px);
  animation: iconFloating1 8s ease-in-out infinite;
}

.headerIcon.iconReact {
  background-position: -384px 0px;
  top: 30%;
  left: 15%;
  transform: translatey(-15px);
  animation: iconFloating2 15s ease-in-out infinite;
}

.headerIcon.iconSwift {
  background-position: -432px 0px;
  top: 20%;
  left: 70%;
  transform: translatey(-15px);
  animation: iconFloating4 15s ease-in-out infinite;
}

.headerIcon.iconTypescript {
  background-position: -480px 0px;
  top: 60%;
  left: 75%;
  transform: translatey(-10px);
  animation: iconFloating3 10s ease-in-out infinite;
}



.headerProfileImage {
  width: 140px;
  height: 140px;
  border: 1px solid #fff;
  border-radius: 50%;
  overflow: hidden;
}

.headerProfileTitle {
  font-size: 24px;
}

.headerProfileDescription {
  font-size: 20px;
}

.headerProfileImage > img {
  width: 140px;
  height: auto;
}

.profileDescription {
  list-style: none;
  display: none;
  min-height: 2rem;
}

.bodySection {
  position: relative;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  z-index: 1000;
}

/* Animate Arrow Down */
.animateDownArrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100px;
  z-index: 100;
}

.animateDownArrow > div {
  height: 100px;
  cursor: pointer;
  z-index: 100;
}

.animateDownArrow span {
  display: block;
  width: 24px;
  height: 24px;
  border-right: 5px solid #fff;
  border-bottom: 5px solid #fff;
  margin-bottom: -20px;
  transform: rotate(45deg);
  animation: animateArrowDown 2s infinite;
}

.animateDownArrow span:nth-child(2) {
  animation-delay: -0.2s;
}

.animateDownArrow span:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes animateArrowDown {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
      opacity: 1;
  }
  100% {
      opacity: 0;
      transform: rotate(45deg) translate(20px, 20px);
  }
}
/* End Animate Arrow Down */

/* Animate icon floating */
@keyframes iconFloating1 {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
@keyframes iconFloating2 {
  0% {
    transform: translatey(0px);
  }
  25% {
    transform: translatey(-10px);
  }
  50% {
    transform: translatey(-25px);
  }
  75% {
    transform: translatey(-10px);
  }
  100% {
    transform: translatey(0px);
  }
}
@keyframes iconFloating3 {
  0% {
    transform: translatey(0px);
  }
  25% {
    transform: translatey(-10px);
  }
  50% {
    transform: translatey(-30px);
  }
  75% {
    transform: translatey(-15px);
  }
  100% {
    transform: translatey(0px);
  }
}
@keyframes iconFloating4 {
  0% {
    transform: translatey(0px);
  }
  25% {
    transform: translatey(15px);
  }
  50% {
    transform: translatey(0px);
  }
  75% {
    transform: translatey(10px);
  }
  100% {
    transform: translatey(0px);
  }
}
/* End Animate icon floating */


/* Responsive */
@media only screen and (max-width: 720px) {
  .headerProfileImage {
    width: 120px;
    height: 120px;
  }

  .headerProfileImage, .headerProfileImage > img {
    width: 120px;
  }

  .headerIcons {
    transform: scale(0.8);
  }
}